# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/sqlit
SANDBOX_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sqlit_sandbox

# Auth0
AUTH0_DOMAIN=
AUTH0_API_AUDIENCE=
AUTH0_ALGORITHMS=["RS256"]

# CORS
CORS_ORIGINS=["http://localhost:3000"]
